{
  "presets": [["es2015", { "modules": false }], "stage-2", "react"],
  "plugins": [
    "babel-plugin-styled-components",
    "react-hot-loader/babel",
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    "transform-es2015-parameters",
    "transform-react-inline-elements",
    "transform-react-constant-elements",
    "babel-plugin-transform-class-properties",
    ["transform-react-remove-prop-types", {
      "mode": "unsafe-wrap"
    }]
  ]
}
